<%# "heex" stands for "HTMl + EEx" EEX is a library %>

<section class="phx-hero">
    <h2>Hello World, from Phoenix!</h2>
    <h3><%= link "Welcome Page!", to: Routes.page_path(@conn, :index) %></h3>
</section>