<section class="phx-hero">
    <h2>Hello World, from <%= @messenger %>!</h2> <%# here we want the meaasengers value to be passed by the conroller to views%>
    <%# here we will use Eex feature   @messenger means "assigns.messenger" assigns is the value passed from
    controller to view %>
</section>